body {
    font-family: sans-serif;
    color: #55182C;
    margin: 0;
}

header {
    background-color: #C77191;
    color: white;
    text-align: center;
    padding: 5px;
}

h1, h2 {
    text-align: center;
}

section {
    margin-top: 110px;
}

.data_table_university , tr, td {
    border: 1px;
    border-style: dotted;
    border-color: #3AB1AE;
    margin: 0 auto;
}


.data_table_high_school, tr, td {
    border: 1px;
    border-style: dotted;
    border-color: #3AB1AE;
    margin: 0 auto;
    margin-bottom: 80px;
}

footer {
    background-color: #C77191;
    color: white;
    clear: both;
    text-align: center;
    padding: 15px;
    font-weight: bolder;
    margin-top: 150px;
}   
